{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 9999999,
  "tabWidth": 9999999,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "proseWrap": "preserve"
}
